/*
.vertical-center {
  min-height: 100%; 
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.form-group {
        max-width: 500px;
    } */

   /**
 * Expands an element to fit its container
 */
html {
  box-sizing: border-box;
  color: #444;
  font: 1rem/1.5 Lato;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/*
.auth__form {
	max-width: 409.5px;
}*/


.auth-wrap-background {
  background-image: url("https://images.unsplash.com/photo-1447958374760-1ce70cf11ee3?crop=entropy&fit=crop&fm=jpg&h=1080&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1920");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.auth-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.auth-blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  overflow: hidden;
}

.auth-size {
  max-height: 700px; /*440*/
  max-width: 409.5px;
  height: 420px; /*440*/
  width: 100%;
}

.auth__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.auth__inner__section {
  padding: 1.25rem 2rem;
}

.auth__sidebar {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.auth__form {
  background: rgba(34, 37, 42, 0.8);
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

.form__title {
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.form__label {
  padding-bottom: 1.25rem;
  display: block;
}

.form__label__text {
  color: #87909c;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
}

.form__input {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-bottom: 2px solid transparent;
  display: block;
  outline: 0;
  position: relative;
  padding: 10px 0px;
  width: 100%;
}
.form__input:focus {
  border-color: 2px solid rgba(255, 255, 255, 0.5);
}

.form__input-border {
  border-bottom: 1px solid #87909c;
  display: block;
}

.button {
  background: #C2242A;
  border-radius: 3px;
  border: 0;
  color: #fff;
  display: block;
  line-height: 60px;
  margin-top: 40px; /* 70*/
  outline: 0;
  width: 100%;
}

.form__meta {
  font-size: 0.6875rem;
  padding: 10px 0;
}
